ci:
  autofix_prs: false
  autoupdate_schedule: "quarterly"
  skip: [no-commit-to-branch, ccv]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [yaml, json, markdown]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.13.3'
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        files: ^.*\.(py|md|rst|yml)$
  - repo: local
    hooks:
      - id: check-space-packet-parser-metadata
        name: check space_packet_parser metadata
        entry: python scripts/check_metadata.py
        language: python
        additional_dependencies:
          - pyyaml
          - tomli
  - repo: https://github.com/mashi/codecov-validator
    rev: 1.0.1
    hooks:
      - id: ccv
